@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    /*selector universal*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    /*font-size: 16px de base*/
}


body {
    height: 100vh;
}

nav {
    background-color: black;


    @media screen and (min-width:1024px) {
        /* cuando tenga menos de 599px va a estar blanco
    cuando la pantalla tenga 600px o + se va reproducir de otra manera)*/


        /**********************************/
        /******* HEADER Nav Bar CSS********/
        /**********************************/


        header {
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            right: 0;
        }

        nav {
            background-color: black;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 3rem;

        }

        nav ul {
            display: flex;
            gap: 3rem;
            justify-content: right;
        }

        /*nav ul li {
    font-weight: bold;   
}*/

        nav ul li a {
            color: #fff;
            text-decoration: none;
            /*saca el subrayado*/

            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            transition: 0.4s;


        }

        nav li a:hover {
            transition: all 0.3s ease 0s;
            color: #ff5174;
            /* color: #10e47a;*/

        }

        .navbar-toggler {
            background-color: white;
        }

        .nav-links {
            text-align: center;
        }


        /*************************************/
        /********** MAIN Hero CSS ***********/
        /************************************/
        .hero {

            /*justify-content: center;*/
            height: 40%;
            padding: 10%;
            text-align: center;
            background-color: #ff5174;

        }

        .hero h1 {

            font-size: 5rem;
            margin-top: 6rem;
            text-align: center;
            font-weight: bold;

            animation: aparecer-h1 3s infinite;
            /*tmb se puede usar animation-name: mouse // animation-iteration-count: infinitive // animation-duration: 3s*/
        }

        @keyframes aparecer-h1 {
            0% {
                opacity: 0;

            }

            70% {
                opacity: 0.5;
            }

            100% {
                opacity: 1;
            }

        }

       /* animation-duration: 3s;
        animation-name: slidein;
    }
    
    
    @keyframes slidein {
        from {
          margin-left: 100%;
          width: 100%
        }
      
        to {
          margin-left: 0%;
          width: 100%;
        }
      }*/
    


        .container-mision {
            /*margin: arriba y abajo - izq y derecha*/
            padding-top: 3.5rem;
            /*64 px*/
            background-color: #10e47a;
            text-align: left;

            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto;

            grid-template-areas:
                "h2-mision"
                "text-mision"
                "text-mision2"
                "img-mision";

        }

        .mision {
            padding: 30px 400px;

        }

        .h2-mision {
            grid-area: h2-mision;
            align-items: center;
            margin-top: 1rem;
            margin-left: 1px;
            font-size: 1.875rem;
            font-weight: bold;
        }

        .text-mision {
            grid-area: text-mision;
            margin-top: 1rem;
            text-align: left;

        }

        .text-mision2 {
            grid-area: text-mision2;
            text-align: left;
            margin-bottom: 3.5rem;
        }


        .img-mision {
            grid-area: img-mision;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        .container-vision {
            background-color: #fff;
            display: grid;
            grid-template-columns: 2fr;
            grid-template-rows: 1fr;
            grid-template-areas:
                "h2-vision h2-vision"
                "text-vision"
                "text-vision2"
                "img-vision";
        }

        .vision {
            display: flex;

        }

        .h2-vision {
            grid-area: h2-vision;
            margin: 250px 50px 0 100px;
            text-align: left;
            font-weight: bold;
            align-items: center;
            font-size: 1.875rem;
        }




        .text-vision {
            grid-area: text-mision;
            margin: 8rem;
            text-align: left;
        }

        .text-vision2 {
            grid-area: text-vision2;
        }

        .img-vision {
            grid-area: img-vision;
            width: 100%;
            justify-content: flex-end;
        }

        .container-valores {
            background-color: #10e47a;
            display: grid;
            grid-template-columns: 3fr;
            grid-template-rows: 2fr;
            grid-template-areas:
                "img-valores"
                "h2-valores h2-valores"
                "text-valores"
                "text-valores";

        }

        .valores {
            display: flex;
        }

        .h2-valores {
            grid-area: h2-valores;
            margin: 250px 50px 0 100px;
            /*margin: arriba y abajo - izq y derecha*/
            font-weight: bold;
            align-items: center;
            font-size: 1.875rem;

        }

        .text-valores {
            grid-area: text-valores;
            width: 70%;
            margin: 8rem;
            text-align: left;
        }

        .img-valores {
            grid-area: img-valores;
        }




        /**********************************/
        /********** Galeria ***************/
        /******** (proyectos.html) ********/
        /*********************************/
        .contenedor-imagenes {
            padding: 1.25rem 0;
            border-radius: 3px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: (3) 1fr;

            grid-template-areas:
                "imagen-1 imagen-2"
                "imagen-3 imagen-4"
                "imagen-5 imagen-6";

            justify-items: center;
            align-items: center;
            gap: 1.25rem;

        }

        .imagen-1 {
            grid-area: imagen-1;
            justify-self: right;
            align-self: start;
        }

        .imagen-2 {
            grid-area: imagen-2;
            justify-self: left;
            align-self: start;
        }

        .imagen-3 {
            grid-area: imagen-3;
            justify-self: right;
            align-self: start;
        }

        .imagen-4 {
            grid-area: imagen-4;
            justify-self: left;
            align-self: start;
        }

        .imagen-5 {
            grid-area: imagen-5;
            justify-self: right;
            align-self: start;
        }

        .imagen-6 {
            grid-area: imagen-6;
            justify-self: left;
            align-self: start;
        }




        .contenedor-imagenes .imagen {
            width: 650px;
            position: relative;
            height: 350px;
            /*margin-bottom: 5px;*/
            /*box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75)*/
            /*blur de fondo*/
        }

        .imagen img {
            width: 650px;
            height: 350px;
            object-fit: cover;
        }

        .overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            background: #10e47a;
            width: 100%;
            height: 0;
            overflow: hidden;
            transition: .5s ease;
        }

        .overlay h4 {
            color: #000;
            font-weight: bold;
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            text-align: center;
            transform: translate(-50%, -50%);
        }

        .imagen:hover .overlay {
            height: 100%;
            cursor: pointer;
        }





        /***************************************/
        /********* Quienes somos CSS ***********/
        /********** (nosotros.html) ***********/
        /**************************************/

        .container-quienes {
            padding: 80px 50px;
            background-color: #10e47a;
        }

        .quienes-somos {
            padding: 30px 400px;
        }

        .h2-quienes {
            justify-content: left;
            margin-left: 20px;
        }

        .text-quienes {
            margin: 25px;
            text-align: left;
        }

        #container-nosotros {
            display: flex;
            /*justify-items: center; va solo en grid*/
            background-color: #10e47a;
        }

        .card {
            width: 100%;
            display: inline-block;
            text-align: left;
            padding: 0 50px;
        }

        .card .contenido .text-present1 {
            margin-bottom: 30px;
            text-align: left;
            display: block;
        }

        .text-present2 {
            margin-bottom: 50px;
        }


        /************************************/
        /********** Servicios CSS ***********/
        /******** (servicios.html) **********/
        /***********************************/


        #contenedor-service {
            align-items: center;
            text-align: left;
            justify-content: space-between;
        }

        #contenedor-service .cards {
            padding-top: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #contenedor-service .service-text {
            margin-bottom: 30px;
            padding: 15px;
        }

        #contenedor-service .column {
            display: flex;
        }

        .card-service {
            display: flex;
            justify-content: left;
            padding: 30px;
        }


        #service-item {
            margin: 30px 100px;
        }

        #service-item p {
            margin-bottom: 30px;
        }

        #container-empresas {
            width: 100%;
            background-color: #000;
            justify-content: center;
            padding: 30px;

        }

        #container-empresas h3 {
            color: white;
            margin-top: 80px;
            font-size: x-large;
            text-align: center;
        }


        #container-empresas .empresas-img {
            display: flex;
            justify-content: center;
            align-items: center;
        }



        /*********************************/
        /******** Contacto.html ********/
        /*********************************/

        #contenedor-consultas {
            display: block;
            text-align: center;
            padding-top: 8rem;

        }

        .h2-consultas {
            font-size: 1rem;

        }

        .text-consultas {
            font-size: 2.5rem;
            margin-bottom: 2rem;
        }

        .text-consultas-dos {
            font-size: 1.5rem;
        }

        /*********  Formulario *********/
        #contenedor-form {
            margin: 6rem 30rem;
        }


        form label {
            display: block;
            margin-bottom: 10px;
            font-weight: bold;
        }

        form .form-group {
            margin-bottom: 16px;
        }

        form .form-control {
            display: block;
            width: 100%;
            padding: 7px 12px;
            font-size: 1rem;
            line-height: 1.5;
            color: #495057;
            background-color: #ededed;
            border: 2px solid #ededed;

        }

        textarea:focus,
        input:focus,
        input[type]:focus {
            border-color: #ff5174;
            outline: 0 none;
        }

        .boton {
            width: 35%;
            display: inline-block;
            font-size: 15px;
            padding: 12px 50px;
            cursor: pointer;
            font-weight: bold;
            letter-spacing: 1px;
            /*border-radius: 4px;*/
            background: #10e47a;
            border: 2px solid #10e47a;
        }

        .boton:hover {
            /*box-shadow: 5px 5px 10px rgb(212, 212, 212);*/
            border: 2px solid;
            background-color: #fff;
            /* color: #10e47a;*/

        }



        /*******************************/
        /********** Footer CSS *********/
        /*******************************/
        .footer {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 6.5rem;
            background-color: #ff5174;
        }

        .texto-copyright {
            display: block;
            margin-left: 3rem;
            margin-top: 2rem;
            font-size: 0.9rem;
            background-color: #ff5174;


        }

        .texto-seguinos {
            display: block;
            margin-left: 500px;
            margin-right: 1rem;
            font-size: 0.9rem;
            background-color: #ff5174;

        }

        .redes {
            /*justify-content: center;*/
            height: 15px;
            display: flex;
            background-color: #ff5174;
        }

        .icon-redes {
            margin-left: 0.5rem;
        }

        footer p a {
            text-decoration: none;
            color: #000;

        }

        .link-servicios:hover {
            color: #fff;

        }

    }